<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body { padding-top: 10px; };
	</style>
</head>
<body>

<!-- 	NAV
 --><header>

			<nav id="navbar">
				<div class="container">

						<ul class="nav navbar-left">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/artist">Artists</a></li>
							<li><a href="/event">Events</a></li>
						</ul>

						<ul class="nav navbar-right">
							<li><a href="/user"><span class="glyphicon glyphicon-plus"></span> Back to Users</a></li>
						</ul>
					</div>
			</nav>

	</header>

	<main>
	<!-- 	USER DISPLAY
		 -->
		 	<!-- ABOUT -->
			<div class="container">

					<div class="row">

						<div class="col-12">

						<div class="card">

							<img class="card-img-top" id="userListPic" src="<%=user.avatar%>" alt="Card image cap">

							<div class="card-body">
								<h5 class="card-title">About <%=user.username%></h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>

							<ul class="list-group list-group-flush">
								<li class="list-group-item">Username: <%= user.username %></li>
								<li class="list-group-item">Email: <%=user.email %></li>
							</ul>

						</div>
					</div>
				</div>


				<div class="row">

					<div class="col-12">

								<!-- FOLLOWING -->
								<div class="card">

									<div class="card-body">
										<h5 class="card-title">Following</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>

										<ul class="list-group list-group-flush">
											<% for (let i = 0; i < user.artistsLiked.length; i++) { -%>
												<li class="list-group-item"><a href="/artist/<%=user.artistsLiked[i].id%>"><%=user.artistsLiked[i].name%></a></li>
											<% } -%>
										</ul>

								</div>

							</div>
						</div>

								<!-- HAPPENINGS -->
							<div class="row">
								<div class="col-12">

									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Happenings</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										</div>

											<ul class="list-group list-group-flush">
												<% for (let i = 0; i < user.eventsAttending.length; i++) { -%>
													<li class="list-group-item"><a href="/event/<%=user.eventsAttending[i].id%>"><%= user.eventsAttending[i].name%></a></li>
												<% } -%>
											</ul>

										</div>
									</div>
								</div>


							<!-- COLLABORATORS -->
							<div class="row">
								<div class="col-12">

									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Co-Creators & Collaborators</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										</div>

											<ul class="list-group list-group-flush">
												<% for (let i = 0; i < user.artists.length; i++) { -%>
													<li class="list-group-item"><a href="/artist/<%=user.artists[i].artist_id%>"><%= user.artists[i].name%></a></li>
												<% } -%>
											</ul>

									</div>

								</div>
							</div>


				</div>



<!-- 	    EDIT/DELETE USER
 -->	<div class="col-lg-12 col-sm-12">
			<%if (user._id.toString() === currentUser._id.toString()) {%>
				<a class="btn btn-outline-dark btn-sm btn-block" id="edit-user" href="/user/<%= user.id %>/edit">Edit <%=currentUser.username%></a>
					<form action="/user/<%= user.id %>?_method=DELETE" method="POST">
						<button class="btn btn-outline-danger btn-sm btn-block" type="submit">Delete <%=currentUser.username%></button>
				</form>
			<%}%>
		</div>
	</main>



<!-- 		LOGOUT BUTTON
 --><footer class="container-fluid text-center">
			<form action="/logout" method="GET">
		   		<input type="submit" class="btn-block" id="logout" value="Logout <%=currentUser.username%>" />
			</form>
	</footer>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	<script src="/js/app.js"></script>


</body>
</html>
